<section>
  <div id="content">
    <img src="assets/Images/Illustration2.png">
  </div>
</section>

<section>
  <img id="centeredImg" src="assets/Images/Illustration3.png" alt="pizza">
  <div class="container">
    <div class="row mainSection">
      <div class="col-12">
        <div class="searchbar" *ngIf="allRecipes">
          <mat-form-field class="example-full-width">
            <a href="#" class="search_icon"><img src="../../../assets/icon/Icon feather-search.png" alt=""></a>

            <input class="search_input" type="text" name=""  matInput [formControl]="myControl"
            [matAutocomplete]="auto" placeholder="Search your favourite recipe...">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="navToRoute($event)">
              <mat-option *ngFor="let recipes of filteredOptions | async" [value]="recipes.name">
                <span [innerHTML]="recipes.name | highlight: toHighlight"></span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <img id="jalapenoImage" src="assets/Images/Illustration5.png">
    <img id="cheeseImage" src="assets/Images/Illustration4.png">
  </div>
</section>

<section>
  <div class="footer">
    <div class="row">
      <div class="col-12">
        <div>
          <h6>YOUR FOOD TASTES YUMMY</h6>
        </div>
        <div class="col-12 col-md-6" id="footerContent">
          <img src="assets/Images/Illustration1.png">
        </div>
      </div>
    </div>

  </div>
</section>